body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(https://i.imgur.com/qgPbb4N.jpeg);
  /* background-repeat: no-repeat; */
  background-size: cover;
  color: white;
  overflow: auto;
  height: 100%;
}

html {
  height: 100%;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-container {
  height: 100%;
  overflow-y: auto;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
  font-size: 2rem;
  font-family: Copperplate, Papyrus, fantasy;
}

.nav a {
  text-decoration: none;
  color: white;
}

#period {
  color: red;
}

.nav-routes {
  display:flex;
  margin: 0em;
}

.nav li {
  padding-right: 2rem;;
  list-style: none;
}

.nav a:hover{
  transition : all 0.4s linear;
  color:gold;
}

.home-page {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.home-left-split {
  width: 50%;
  height: 100%;
  padding-left: 5%;
  padding-right: 5%;
  /* padding-bottom: 5%; */
  box-sizing: border-box;
  text-align: center;
  overflow-y: auto;
  overflow-x: auto;
}

#home-intro {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.home-right-split {
  width: 50%;
  box-sizing: border-box;
}

#first-name {
  font-size: 6rem;
  margin-bottom: .5rem;
  margin-top: 2rem;
  font-family: Copperplate, Papyrus, fantasy;
}

#last-name {
  font-size: 6rem;
  margin-top: .5rem;
  margin-bottom: 1rem;
  font-family: Copperplate, Papyrus, fantasy;
}

.profile-pic {
  display:flex;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 100%;
}

.sml-profile-pic {
  border-radius: 50%;
  display: none;
}

.about {
  padding-top: .1%;
  box-sizing: border-box;
  height: 100%;
  font-size: 2rem;
}

.about a {
  color:white;
  text-decoration: none;
  transition : all 0.4s linear;
}

.about a:hover {
  transform: scale(1.1);
  color: gold;
}

.about h2 {
  text-align: center;
  font-size: 3vw;
  margin-bottom: 0px;
}

.about ul {
  padding-left: 0;
}

.about li {
  list-style:none;
}

.description {
  padding: 2rem 4rem 2rem 4rem;
  text-align: center;
  max-height:inherit;
  box-sizing: border-box;
  overflow-y: scroll;
  background-color: black;
  border-style: solid;
  border-radius: 2.25rem;
}

.icon-links {
  display:flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-left: 0px;
  padding-bottom: 1rem;
  padding-top: 1rem;
  background-color: black;
  border-style: solid;
  border-radius: 2.25rem;
}

.icon-links li {
  list-style:none;
}

.icon-links a {
  color: white;
  text-decoration: none;
}

.icon-links li a:hover{
  transition : all 0.4s linear;
  color:gold;
}

.skills {
  display:flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 2rem 2rem 2rem 2rem;
  font-family: Copperplate, Papyrus, fantasy;
  left: 0; 
}

.skills li {
  list-style: none;
  flex-basis: calc(100% / 5);
  flex-grow: 0; /* Or 1, depending on desired behavior */
  flex-shrink: 0;
}

.contacts {
  text-align: center;
  font-size: 2rem;
  background-color: black;
  border-style: solid;
  border-radius: 2.25rem;
}
.contacts h2 {
  text-align: center;
}
.contacts a {
  color:white;
  text-decoration: none;
  transition : all 0.4s linear;
}

.contacts a:hover {
  transform: scale(1.1);
  color: gold;
}

.card-container {
  width: 100%;
  display:flex;
  padding-top: 1rem;
  flex-wrap: wrap;
}

.card-container a {
  color: white;
}

.card-container a:hover {
  transform: scale(1.1);
}

.card-container h2 {
  text-align: center;
  font-size: 3vw;
  margin-bottom: 0px;
}

.proj-card {
  width: 30%;
  padding: 0 4rem 1rem 4rem;
  display: inline-block;
  font-size: 1rem;
  box-sizing:border-box;
  border-style: solid;
  border-radius: 2.25rem;
  flex-basis: calc(100% / 3);
  flex-grow: 0;
  flex-shrink: 0;
  box-shadow: 0.063em 0.75em 1.563em rgb(0 0 0 / 78%);
  background-color: black;
}

.proj-card a {
  padding-right: 1rem;
}

.proj-card a:hover {
  transform: scale(1.1);
  color: gold;
}

.yellow-text {
    color: yellow;
}

@media screen and (max-width: 660px) {
  .profile-pic { 
    display: none; 
  } 
  .home-right-split {
    display: none;
  }

  .home-left-split {
    width: 100%;
  }

  .nav {
    font-size: 1.5rem;
  }

  #first-name, #last-name {
    font-size: 3rem;
  }

  .sml-profile-pic {
    display: inline;
    width: 180px;
    height: 180px;
  }

  .proj-card {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    display: inline-block;
    flex-basis: calc(100% / 1);
  }

  .about {
    font-size: 1.3rem;
  }

  .contacts {
    font-size: 1.3rem;
  }

  .skills {
    width: 100%;
    bottom: 0px;
  }

  #home-intro {
    margin-top: 1rem;
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 661px) and (max-width: 1120px) { 
  .profile-pic { 
    display: none; 
  } 
  .home-right-split {
    display: none;
  }

  .home-left-split {
    width: 100%;
  }

  #first-name, #last-name {
    font-size: 3rem;
  }

  .sml-profile-pic {
    display: inline;
    width: 180px;
    height: 180px;
  }

  .proj-card {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    display: inline-block;
  }

  .about {
    font-size: 1.3rem;
  }

  .contacts {
    font-size: 1.3rem;
  }

  .skills {
    width: 100%;
  }

  #home-intro {
    margin-top: 1rem;
  }
}

@media screen and (min-width: 1600px) {
  .proj-card {
    font-size: 1.5rem;
  }
}

@media screen and (max-height: 649px){
  .skills {
    display: none;
  }
}

@media screen and (min-height: 650px) and (max-height: 698px) {

  #first-name {
    margin-top: .5rem
  }
}

@media screen and (min-height: 700px) and (max-height: 850px) {
  #first-name {
    margin-top: 4rem;
  }
}

@media screen and (min-height: 933px) {
  #first-name {
    margin-top: 6rem;
  }

  #home-intro {
    font-size: 2rem;
  }
}